body{
    margin: 0%;
    padding: 0%;
    background-color: hsl(0, 1%, 72%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* flex-wrap: wrap; */
}
#display{float: left;
    font-size: 2.6rem;
    width: 100%;
    height: 160px;
    border: none;
    background-color: rgb(39, 39, 39);
    color: aliceblue;
}
#calculator{overflow: hidden;
    border: 1px solid white;
    width: 375px;
    height: 605px;

    border-radius: 10px;
    box-shadow: 5px 5px 25px rgb(3, 3, 3);
    background-color: rgb(77, 78, 78);
}
#buttons button{
width: 75px;
    height: 75px;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 60px;
    margin: 7px;
    cursor: pointer;
font-family: monospace;}
    #buttons button:hover{
        background-color: hsl(0, 0%, 70%);
    }
#buttons button:active{
    background-color: hsl(0, 0%, 85%);
}
.operator-btn{
    background-color: hsl(40, 90%, 57%);
}
.operator-btn:hover{
    background-color: hsl(40, 82%, 70%);
}
.operator-btn:active{
    background-color: hsl(40, 82%, 77%);
}
